.container {
  display: block;
  max-width: 1440px;
  min-height: 569px;
  color: #ffffff;
}

.text {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 40px;
  line-height: 1.17em;
  margin: 120px auto 0 auto;
  text-align: center;
  color: #383838;
}

.h {
  margin: 20px auto 0;
  width: 100px;
  height: 4px;
  background: #f5bd41;
}

.wrapper {
  padding: 80px 0 0 0;
  text-align: center;
}

.rectangle {
  display: inline-block;
  width: 296px;
}

.image {
  width: 100px;
  height: 100px;
}

.subtitle {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 24px;
  line-height: 1.17em;
  margin: 48px auto 0 auto;
  color: #383838;
}

/* footer (lesson-5) */
.container-f {
  display: block;
  max-width: 1440px;
  padding-bottom: 120px;
  background: #10367c;
}

.rectangle-f {
  display: flex;
  justify-content: space-between;
  padding: 120px 272px 0 104px;
}

.container-1 {
  display: flex;
  flex-direction: column;
}

.flex-container {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.flex-container-2 {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.subtitle-f1 {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.17em;
  margin: 0 0 0 0;
  color: #ffffff;
}

.subtitle-f2 {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.17em;
  margin: 0 0 5px 0;
  color: #ffffff;
}

.flex-item {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 1.17em;
  margin: 24px 0 0 0;
  color: #ffffff;
}

.text-f {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.17em;
  margin: 64px 0 0 104px;
  color: #ffffff;
}
