* {
  margin: 0;
  box-sizing: border-box;
}

.triphouse {
  display: block;
  min-height: 100vh;
  background-image: url("../pictures/triphouse/castelmezzano1.png");
  background-color: #12121240;
  background-repeat: no-repeat;
  background-size: cover;
}

.triphouse__body {
  margin: auto;
  padding: 0 104px 120px;
}

.triphouse__header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 51px 0 0 0;
}

.triphouse__logo {
  height: 40px;
  width: 205px;
  background: url("../pictures/triphouse/sprite/icons.svg") -341px 0;
}

.triphouse__menu {
  display: flex;
  flex-direction: row;
  align-items: center;
  list-style-type: none;
  margin: 0;
}

.triphouse__menu li {
  position: relative;
  display: block;
  transition: 0.2s;
}

.triphouse__menu li::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 4px;
  top: 100%;
  left: 0;
  background: #f5bd41;
  transition: transform 0.5s;
  transform: scaleX(0);
  transform-origin: right;
}

.triphouse__menu li:hover::after {
  transform: scaleX(1);
  transform-origin: left;
}

.triphouse__menu-item1 {
  display: block;
  font-family: Roboto, sans-serif;
  font-weight: 400;
  font-size: 24px;
  line-height: 1.17em;
  margin: 0 24px 0 0;
  color: #ffffff;
  text-decoration: none;
  box-sizing: border-box;
}

.triphouse__menu-item2 {
  width: 30px;
  height: 30px;
  margin: 0 0 0 24px;
  background: url("../pictures/triphouse/sprite/icons.svg") -271px 0;
}

.triphouse__menu-item3 {
  width: 40px;
  height: 40px;
  margin: 0 0 0 24px;
  background: url("../pictures/triphouse/sprite/icons.svg") -668px 0;
  box-sizing: border-box;
}

.triphouse__menu-item4 {
  display: none;
}

.triphouse__title {
  display: block;
  font-family: Roboto, sans-serif;
  font-weight: 500;
  font-size: 50px;
  line-height: 1.17em;
  margin: 202px 0 0 0;
  color: #ffffff;
}

.triphouse__footer {
  display: flex;
  justify-content: center;
  margin: 120px 0 0;
}

.triphouse__google {
  width: 135px;
  height: 40px;
  margin: 0 8px;
  background: url("../pictures/triphouse/sprite/icons.svg") 0 0;
}

.triphouse__apple {
  width: 120px;
  height: 40px;
  margin: 0 8px;
  background: url("../pictures/triphouse/sprite/icons.svg") -151px 0;
}

.search__items {
  display: flex;
  margin: 145px 0 0 0;
  max-width: 100%;
  background-color: #ffffff;
  box-sizing: border-box;
  border-radius: 8px;
}

.search__subtitle1 {
  font-family: Roboto, sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.17em;
  color: #ffffff;
  position: absolute;
  top: -45px;
  left: 24px;
}

.search__subtitle2 {
  white-space: nowrap;
  font-family: Roboto, sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.17em;
  color: #ffffff;
  position: absolute;
  top: -45px;
  left: 24px;
}

.search__item1 {
  display: block;
  position: relative;
  flex-direction: column;
  box-sizing: border-box;
  width: 38%;
}

.search__input {
  display: block;
  height: 64px;
  width: 100%;
  text-align: left;
  font-family: Roboto, sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.17em;
  border: 3px solid transparent;
  border-radius: 8px;
  padding: 0 24px;
  color: #383838;
}

.search__input2 {
  border: 3px solid #cecece;
}

.search__input:focus {
  outline: none;
  border-color: #f5bd41;
}

.search__item2 {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 21%;
  box-sizing: border-box;
  border-radius: 8px;
}

.search__item3 {
  display: flex;
  position: relative;
  justify-content: center;
  width: 25%;
}

.search__item4 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 16%;
  color: #ffffff;
  background: #3077c6;
  border-radius: 8px;
}

.search__button1 {
  font-family: Roboto, sans-serif;
  font-weight: 500;
  font-size: 24px;
  line-height: 1.17em;
  color: #ffffff;
  background: #3077c6;
  border: none;
}

/* Offer */
.offer {
  display: block;
  padding: 120px 0 0 0;
  color: #ffffff;
}

.offer__title {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 40px;
  line-height: 1.17em;
  margin: 0 auto;
  text-align: center;
  color: #383838;
}

.offer__underline {
  margin: 20px auto 0;
  width: 100px;
  height: 4px;
  background: #f5bd41;
}

.offer__wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 80px 104px 120px;
  font-size: 0;
}

.offer-rectangle {
  display: flex;
  flex-direction: column;
  font-size: 0;
  width: 25%;
}

.offer__image1 {
  margin: 0 auto;
  width: 100px;
  height: 100px;
  background: url("../pictures/offer/icons.svg") -538px 0;
}

.offer__image2 {
  margin: 0 auto;
  width: 100px;
  height: 100px;
  background: url("../pictures/offer/icons.svg") -170px 0;
}

.offer__image3 {
  margin: 0 auto;
  width: 100px;
  height: 100px;
  background: url("../pictures/offer/icons.svg") -70px 0;
}
.offer__image4 {
  margin: 0 auto;
  width: 100px;
  height: 100px;
  background: url("../pictures/offer/icons.svg") -270px 0;
}

.offer__subtitle {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 24px;
  line-height: 1.17em;
  margin: 48px auto 0 auto;
  color: #383838;
}

/* Homes-guests */
.homes-guests{
  display: block;
  padding: 120px 0 0;
  background-color:#EAF0F9;
}

.homes-guests__heading{
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 40px;
  line-height: 1.17em;
  text-align: center;
  color: #383838;
}

.homes-guests__wrapper{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 105px 100px 70px;
}

.homes-guests__rectangle{
  display: flex;
  flex-direction: column;
  position: relative;
  width: 295px;
  min-height: 435px;
  margin: 0 4px 50px;
}

.homes-guests__subtitle-link{
  font-family: "Roboto", sans-serif;
  text-decoration: none;
  font-weight: 400;
  font-size: 24px;
  line-height: 1.17em;
  color: #3077C6;
  margin-top: 24px;
}

.homes-guests__subtitle-caption {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 24px;
  line-height: 1.17em;
  color: #BFBFBF;
  margin-top: 24px;
  margin-bottom: 0;
}

.homes-guests__button-arrow2 {
  display: none;
  position: absolute;
  bottom: 54%;
  left: 86%;
  width: 36px;
  height: 36px;
  background: url("../pictures/homes-guests-loves/button-arrow-mobile.svg") 0 0;
}

.homes-guests__button-arrow4{
  display: block;
  position: absolute;
  bottom: 60%;
  left: 91%;
  width: 48px;
  height: 48px;
  background: url("../pictures/homes-guests-loves/button-arrow.svg") 0 0;
}

/* destinations */
.destinations {
  display: block;
  margin: 0 104px;
  background-color: #FFFFFF;
}

.destinations__heading {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 40px;
  line-height: 1.17em;
  text-align: center;
  color: #383838;
  margin: 120px auto 104px;
}

.destinations__tab {
  display: flex;
  max-width: 622px;
  justify-content:flex-start;
  border-radius: 8px;
  background-color: #F3F3F4;
}

.destinations__tab-button {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 24px;
  line-height: 1.17em;
  z-index: 2;
  height: 64px;
  text-align: center;
  color: #383838;
  border-radius: 8px;
  border: 0;
  width: 31%;
}

.destinations__tab-button:focus{
  color: #FFFFFF;
  background: #3077C6;
}

.destinations__tab-button:last-child {
  width: 38%;
}

.destinations__wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 65px 0 0;
}

.destinations__container-image {
  flex-direction: column;
  width: 295px;
  margin-bottom: 48px;
}

.destinations__image {
  position: relative;
  height: 295px;
  margin: 0 auto 24px;
}

.destinations__image:hover:after {
  position: absolute;
  content: " ";
  left: 0;
  top: 0;
  z-index: 1;
  height: 100%;
  width: 100%;
  opacity: 0.5;
  background-color: #38383866;
  box-shadow: inset 0 4px 70px #38383866;
}

.destinations__button-arrow{
  display: none;
  width: 36px;
  height: 36px;
  background: url("../pictures/destinations/icons.svg") -234px 0;
}

.destinations__subtitle{
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 24px;
  line-height: 1.17em;
  color: #3077C6;
  text-decoration: none;
}

.destinations__book {
  display: none;
  position: absolute;
  left: 28%;
  top: 42%;
  z-index: 2;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.17em;
  background-color: #FFFFFF;
  color: #3077C6;
  border: 1px solid #3077C6;
  border-radius: 8px;
  padding: 13px 24px;
}

.destinations__image:hover .destinations__book{
  display:block;
  position: absolute;
  background-color: #FFFFFF;
}

.destinations__arrow{
  display: flex;
  height: 49px;
  width: 48px;
  margin: 0 auto;
  background: url("../pictures/destinations/icons.svg") -186px 0;
}

/* sign-up */
.sign-up{
  background-color: #EAF0F9;
  margin: 120px 104px 0;
  padding: 24px 24px 0;
}

.sign-up__close{
  display: flex;
  margin-left: auto;
  height: 26px;
  width: 26px;
  background: url("../pictures/destinations/icons.svg") -160px 0;
  color: #BFBFBF;
  border: none;
  padding: 0;
}

.sign-up__rectangle{
  display: flex;
  align-items: center;
  padding: 0 0 52px;
}

.sign-up__user{
  height: 86px;
  width: 86px;
  background: url("../pictures/destinations/icons.svg") -74px 0;
}

.sign-up__rectangle-button-close{
  flex-direction: column;
  margin: 0 auto 0 24px;
}

.sign-up__text{
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 24px;
  line-height: 1.17em;
  color: #383838;
}

.sign-up__text-pc{
  display: block;
}

.sign-up__text-mobile{
  display: none;
}

.sign-up__button{
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.17em;
  background: #FFFFFF;
  color: #3077C6;
  border: 1px solid #3077C6;
  border-radius: 8px;
  width: 128px;
  text-align: center;
  padding: 12px 0;
  margin: 21px 0 0;
}

.sign-up__button-text-mobile{
  display: none;
}

/* guests-reviews */
.guests-reviews{
  display: block;
  margin: 0 104px 120px;
  background-color: #FFFFFF;
}

.guests-reviews__heading {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 40px;
  line-height: 1.17em;
  text-align: center;
  color: #383838;
  margin: 120px auto 0;
  padding-bottom: 10px;
}

.guests-reviews__heading-mobile {
  display: none;
}

.guests-reviews__wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

.guests-reviews__wrapper-rectangle{
  position: relative;
  margin: 104px 0 0;
  background-color: #EAF0F9;
}

.guests-reviews__container{
  width: 400px;
  position: relative;
}

.guests-reviews__image{
  position: relative;
  height: 400px;
  width: 100%;
}

.guests-reviews__image:hover:after {
  position: absolute;
  content: " ";
  left: 0;
  bottom: 0;
  z-index:1;
  height: 12%;
  width: 100%;
  opacity: 0.7;
  background-color: #38383866;
}

.guests-reviews__price {
  display: none;
  position: absolute;
  left: 24px;
  top: 370px;
  z-index: 2;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.17em;
  color: #FFFFFF;
  opacity: 1;
  background-color: transparent;
  border: none;
  padding: 0;
}

.guests-reviews__image:hover .guests-reviews__price{
  display: block;
  position: absolute;
}

.guests-reviews__arrow{
  position: absolute;
  bottom: 71%;
  right: -20px;
  width: 48px;
  height: 48px;
  background: url("../pictures/guests-reviews/icons.svg") -147px 0;
}

.guests-reviews__info{
  padding: 0 24px;
}

.guests-reviews__link-score{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 24px 0;
}

.guests-reviews__subtitle{
  display: flex;
  flex-direction: column;
}

.guests-reviews__subtitle-hotel{
  display: inline-block;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.17em;
  color: #3077C6;
}

.guests-reviews__subtitle-country{
  display: inline-block;
  justify-content: space-between;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.17em;
  color: #3077C6;
  padding: 16px 0 0;
}

.guests-reviews__score{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
}

.guests-reviews__rating{
  display: inline-block;
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  font-size: 18px;
  line-height: 1.36em;
  width: 48px;
  color: #FFFFFF;
  background-color: #10367C;
  text-align: center;
  padding: 4px 11px;
  border-radius: 8px;
}

.guests-reviews__number-of-rating{
  display: inline-block;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.17em;
  color: #BFBFBF;
}

.person{
  display: flex;
  flex-direction: row;
}

.person__user{
  height: 54px;
  width: 54px;
  background: url("../pictures/guests-reviews/icons.svg") -48px 0;
  margin: 5px;
}

.person__info{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 7px 0 7px 16px;
}

.person__name{
  display: inline-block;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.17em;
}

.person__country-text{
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.17em;
  color: #BFBFBF;
  margin-left: 6px;
}

.guests-reviews__review{
  display: flex;
  align-items: stretch;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.17em;
  color: #383838;
  margin: 17px 0 0;
  padding: 0 0 66px;
}

.person__country{
  display: flex;
  flex-direction: row;
}

.person__country-flag-ukraine{
  height: 16px;
  width: 15px;
  background: url("../pictures/guests-reviews/icons.svg") 0 0;
  margin: auto 0;
}

.person__country-flag-usa{
  height: 16px;
  width: 16px;
  background: url("../pictures/guests-reviews/icons.svg") -32px 0;
  margin: auto 0;
}

.person__country-flag-germany{
  height: 16px;
  width: 16px;
  background: url("../pictures/guests-reviews/icons.svg") -16px 0;
  margin: auto 0;
}

.guests-reviews__link-container{
  display: none;
}

.guests-reviews__link{
  display: none;
}

.sign-up-mobile{
  display: none;
}

.footer {
  display: block;
  padding-bottom: 120px;
  background: #10367c;
}

.footer__logo {
  font-size: 0;
}

.footer__rectangle {
  display: flex;
  justify-content: space-between;
  padding: 120px 272px 0 104px;
}

.footer__container {
  display: flex;
  flex-direction: column;
}

.item-footer {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.footer__subtitle {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.17em;
  margin: 0 0 0 0;
  color: #ffffff;
}

.item__footer-text {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 1.17em;
  margin: 24px 0 0 0;
  color: #ffffff;
}

.footer-text {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.17em;
  margin: 64px 0 0 104px;
  color: #ffffff;
}

@media only screen and (max-width: 1232px) {
  /* For desktop: */
  .col-1 {
    width: 8.33%;
  }
  .col-2 {
    width: 16.66%;
  }
  .col-3 {
    width: 25%;
  }
  .col-4 {
    width: 33.33%;
  }
  .col-5 {
    width: 41.66%;
  }
  .col-6 {
    width: 50%;
  }
  .col-7 {
    width: 58.33%;
  }
  .col-8 {
    width: 66.66%;
  }
  .col-9 {
    width: 75%;
  }
  .col-10 {
    width: 83.33%;
  }
  .col-11 {
    width: 91.66%;
  }
  .col-12 {
    width: 100%;
  }

  .triphouse__menu-item1{
    margin-right: 12px;
  }

  .search__item1{
    width: 33%;
  }

  .search__item2{
    width: 26%;
  }

  .search__subtitle2{
    white-space: normal;
  }

  .offer__wrapper{
    padding-bottom: 40px;
  }

  .offer-rectangle{
    padding-bottom: 80px;
  }

  .homes-guests__rectangle{
    margin: 0 0 70px ;
  }

  .homes-guests__wrapper{
    padding: 105px 70px 50px;
  }

  .homes-guests__container{
    display: flex;
    justify-content: center;
  }

  .homes-guests__button-arrow2, .homes-guests__button-arrow4 {
    display: none;
  }

  .destinations {
    display: block;
    margin: 0 70px;
    background-color: #FFFFFF;
  }

  .destinations__tab{
    display: flex;
    margin: auto;
  }

  .destinations__container-image{
    display: flex;
    margin: 0 auto;
  }

  .destinations__subtitle{
    display: flex;
    margin: 0 auto 48px 0;
  }

  .destinations__arrow{
    margin-top: 0;
  }

  .sign-up__text{
    width: 95% ;
  }

  .guests-reviews__wrapper-rectangle{
    background-color: #FFFFFF;
  }

  .guests-reviews__wrapper{
    justify-content: space-between;
    margin: 0 auto;
  }

  .guests-reviews__container{
    margin: 0 auto;
    flex-wrap: wrap;
  }

  .guests-reviews__info{
    background-color: #EAF0F9;
    padding: 0 0 32px;
  }

  .guests-reviews__arrow{
    display: none;
  }

  .footer__rectangle {
    display: flex;
    justify-content: space-between;
    padding: 120px 104px 0 104px;
  }
}

@media only screen and (max-width: 768px) {
  /* For desktop: */
  .col-lg-1 {
    width: 8.33%;
  }
  .col-lg-2 {
    width: 16.66%;
  }
  .col-lg-3 {
    width: 25%;
  }
  .col-lg-4 {
    width: 33.33%;
  }
  .col-lg-5 {
    width: 41.66%;
  }
  .col-lg-6 {
    width: 50%;
  }
  .col-lg-7 {
    width: 58.33%;
  }
  .col-lg-8 {
    width: 66.66%;
  }
  .col-lg-9 {
    width: 75%;
  }
  .col-lg-10 {
    width: 83.33%;
  }
  .col-lg-11 {
    width: 91.66%;
  }
  .col-lg-12 {
    width: 100%;
  }

  .triphouse__body {
    margin: auto;
    padding: 0 45px 40px;
  }

  .triphouse__header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 12px 0 0 0;
  }

  .triphouse__logo {
    height: 24px;
    width: 122px;
    background: url("../pictures/triphouse/sprite/icons.svg") -546px 0;
  }

  .triphouse__menu {
    display: flex;
    flex-direction: row;
    align-items: center;
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

  .triphouse__menu-item1 {
    font-size: 0;
  }

  .triphouse__menu-item2 {
    width: 16px;
    height: 16px;
    margin: 0 0 0 16px;
    background: url("../pictures/triphouse/sprite/icons.svg") -301px 0;
  }

  .triphouse__menu-item3 {
    width: 24px;
    height: 24px;
    margin: 0 0 0 16px;
    background: url("../pictures/triphouse/sprite/icons.svg") -708px 0;
    box-sizing: border-box;
  }

  .triphouse__menu-item4 {
    width: 24px;
    height: 16px;
    margin: 0 0 0 24px;
    background: url("../pictures/triphouse/sprite/icons.svg") -317px 0;
    box-sizing: border-box;
  }

  .triphouse__title {
    display: block;
    font-family: Roboto, sans-serif;
    font-weight: 500;
    font-size: 30px;
    line-height: 1.17em;
    margin: 52px 0 0 0;
    color: #ffffff;
  }

  .triphouse__footer {
    display: flex;
    justify-content: center;
    margin: 32px 0 0;
  }

  .search__items {
    display: flex;
    flex-direction: column;
    margin: 31px 0 0 0;
    padding: 0 8px 8px;
    max-width: 100%;
    background-color: #f5bd41;
    box-sizing: border-box;
    border-radius: 0;
  }

  .search__item1 {
    position: relative;
    flex-direction: row;
    box-sizing: border-box;
    margin-top: 8px;
    width: 100%;
  }

  .search__input {
    height: 48px;
    padding-left: 4px;
  }

  .search__input1 {
    display: block;
    position: absolute;
    font-size: 15px;
    height: 48px;
    border: 3px solid transparent;
    border-radius: 8px;
    padding: 0;
  }

  .search__subtitle1{
    display: none;
  }

  .search__subtitle2 {
    display: block;
    font-family: Roboto, sans-serif;
    font-weight: 500;
    font-size: 15px;
    line-height: 1.17em;
    top: 6px;
    left: 8px;
    color: #383838;
  }

  .search__input2 {
    align-items: flex-end;
    border: 3px solid transparent;
    height: 48px;
    padding: 0 0 0 4px;
  }

  .search__input:focus {
    outline: none;
    border-color: #464642;
  }

  .search__item2 {
    display: flex;
    position: relative;
    flex-direction: column;
    box-sizing: border-box;
    margin-top: 8px;
    border-radius: 8px;
    width: 100%;
  }

  .search__item3 {
    display: flex;
    position: relative;
    justify-content: center;
    margin-top: 8px;
    width: 100%;
  }

  .search__item4 {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ffffff;
    background: #3077c6;
    margin-top: 8px;
    height: 48px;
    width: 100%;
    border-radius: 8px;
  }

  .search__button1 {
    font-family: Roboto, sans-serif;
    font-weight: 500;
    font-size: 19px;
    line-height: 1.17em;
    color: #ffffff;
    background: #3077c6;
    border: none;
  }

  .offer__wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 80px 0 90px 0;
    margin: 0;
    text-align: center;
    font-size: 0;
  }

  .offer-rectangle {
    display: flex;
    min-width: 200px;
    font-size: 0;
    margin-bottom: 30px;
    padding-bottom: 0;
  }

  .footer__rectangle {
    display: flex;
    justify-content: space-around;
    padding: 120px 0 0 0;
  }

  .footer-text {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.17em;
    text-align: center;
    margin: 64px 0 0 0;
    color: #ffffff;
  }

  .homes-guests{
   padding: 40px;
  }

  .homes-guests__heading{
    font-size: 34px;
  }

  .destinations__tab-button{
    width: 33%;
  }

  .destinations__tab-button:last-child {
    width: 33%;
  }

  .homes-guests__wrapper{
    padding: 32px 0 0;
  }

  .homes-guests__container{
    display: flex;
    justify-content: center;
  }

  .homes-guests__rectangle{
    margin: 0;
  }

  .homes-guests__subtitle-link{
    font-family: "Roboto", sans-serif;
    text-decoration: none;
    font-weight: 400;
    font-size: 24px;
    line-height: 1.17em;
    color: #3077C6;
    margin-top: 12px;
  }

  .homes-guests__subtitle-caption {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 24px;
    line-height: 1.17em;
    color: #BFBFBF;
    margin-top: 12px;
    margin-bottom: 0;
  }

  .homes-guests__button-arrow{
    display: none;
  }

  .destinations {
    display: block;
    margin: 0 17px;
    background-color: #FFFFFF;
  }

  .destinations__heading {
    font-size: 28px;
    margin: 40px auto 32px;
  }

  .destinations__tab {
    display: flex;
    justify-content: space-between;
    background-color: #FFFFFF;
  }

  .destinations__tab-button {
    font-size: 19px;
    margin: 0;
    height: 32px;
    overflow:hidden;
    border-radius: 4px;
    border: 1px solid #F3F3F4;
    background-color: #FFFFFF;
  }

  .destinations__wrapper{
    margin-top: 24px;
  }

  .tab-button-off{
    display: none;
  }

  .destinations__container-image{
    margin: 0 auto 0;
  }

  .destinations__subtitle{
    margin-bottom: 30px;
  }

  .destinations__image{
    display: flex;
    margin: 0 auto 12px;
  }

  .destinations__arrow{
  display: none;
  }

  .sign-up{
    display: none;
  }

  .sign-up-mobile{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    background-color: #FFFFFF;
    margin: 0;
    padding: 0;
  }

  .sign-up-mobile__close{
    margin: 0;
    padding: 0;
    height: 16px;
    width: 16px;
    background: url("../pictures/destinations/icons.svg") -59px 0;
    color: #BFBFBF;
    border: none;
  }

  .sign-up-mobile__rectangle{
    display: flex;
    align-items: center;
    padding: 0 0;
  }

  .sign-up-mobile__user{
    height: 58px;
    width: 58px;
    margin: 24px 16px 24px 0;
    background: url("../pictures/destinations/icons.svg") 0 0;
  }

  .sign-up-mobile__rectangle-button-close{
    display: flex;
    flex-direction: row;
    margin: 0 auto;
  }

  .sign-up-mobile__text{
    margin: auto;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.17em;
    color: #383838;
    width: 168px;
    height: 28px;
  }

  .sign-up-mobile__text-pc{
    display: none;
  }

  .sign-up-mobile__text-mobile{
    display: block;
  }

  .sign-up-mobile__button{
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.17em;
    background: transparent;
    color: #3077C6;
    border: none;
    width: 42px;
    margin: auto 0 auto 16px;
  }

  .sign-up-mobile__button-text-mobile{
    display: block;
    width: 41px;
    font-size: 14px;
  }

  .sign-up-mobile__button-text{
    display: none;
  }

  .guests-reviews{
    display: block;
    margin: 0;
    background-color: #EAF0F9;
  }

  .guests-reviews__heading{
    margin: 0;
    padding: 40px 0 0;
  }

  .guests-reviews__wrapper-rectangle{
    margin: 32px 0 0;
    position: relative;
    overflow: hidden;
    background-color: #EAF0F9;
  }

  .guests-reviews__wrapper-rectangle:nth-last-child(-n+2) {
    display: none;
  }

  .guests-reviews__container{
    width: 327px;
    position: relative;
  }

  .guests-reviews__image{
    position: relative;
    width: 327px;
    height: 325px;
  }

  .guests-reviews__image-pic{
    width: 100%;
    height: 100%;
    object-fit: fill;
  }

  .guests-reviews__price {
    top: 295px;
  }

  .guests-reviews__info{
    width: 100%;
  }

  .guests-reviews__link-score{
    padding: 12px 0;
  }

  .guests-reviews__subtitle-hotel{
    font-size: 15px;
  }

  .guests-reviews__subtitle-country{
    font-size: 15px;
  }

  .guests-reviews__rating{
    font-size: 15px;
  }

  .guests-reviews__number-of-rating{
    font-size: 12px;
  }

  .person__user{
    height: 45px;
    width: 45px;
    background: url("../pictures/guests-reviews/icons.svg") -102px 0;
    margin: 5px;
  }

  .person__name{
    font-size: 15px;
  }

  .person__country-text{
    font-size: 15px;
  }

  .guests-reviews__review{
    font-size: 15px;
    padding: 0;
  }

  .guests-reviews__arrow {
    display: none;
  }

  .guests-reviews__link-container{
    display: flex;
    justify-content: space-between;
    width: 56px;
    margin: auto;
    padding: 0 0 40px;
  }

  .guests-reviews__link{
    display: block;
    height: 8px;
    width: 8px;
    padding: 0;
    margin: 0;
    border: 1px solid #333333;
    border-radius: 8px;
    background-color: transparent;
  }

  .guests-reviews__link:focus{
    background: #333333;
  }

  .footer{
    padding: 40px;
  }

  .footer__rectangle {
    display: flex;
    justify-content: space-evenly;
    padding: 40px 0 0;
  }

  .footer__subtitle {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.17em;
    margin: 0 0 0 0;
    color: #ffffff;
  }

  .item__footer-text {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 15px;
    line-height: 1.17em;
    margin: 24px 0 0 0;
    color: #ffffff;
  }
}

@media only screen and (max-width: 360px) {
  /* For mobile phones: */
  .col-md-6 {
    width: 50%;
  }
  .col-md-12 {
    width: 100%;
  }
  /* triphouse-mobile phones*/
  .triphouse__body {
    margin: auto;
    padding: 0 20px 40px;
  }

  .triphouse__header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 12px 0 0 0;
  }

  .triphouse__logo {
    height: 24px;
    width: 122px;
    background: url("../pictures/triphouse/sprite/icons.svg") -546px 0;
  }

  .triphouse__menu {
    display: flex;
    flex-direction: row;
    align-items: center;
    list-style-type: none;
    margin: 0;
  }

  .triphouse__menu-item1 {
    font-size: 0;
  }

  .triphouse__menu-item2 {
    width: 16px;
    height: 16px;
    margin: 0 0 0 16px;
    background: url("../pictures/triphouse/sprite/icons.svg") -301px 0;
  }

  .triphouse__menu-item3 {
    width: 24px;
    height: 24px;
    margin: 0 0 0 16px;
    background: url("../pictures/triphouse/sprite/icons.svg") -708px 0;
    box-sizing: border-box;
  }

  .triphouse__menu-item4 {
    width: 24px;
    height: 16px;
    margin: 0 0 0 16px;
    background: url("../pictures/triphouse/sprite/icons.svg") -317px 0;
  }

  .triphouse__title {
    display: block;
    font-family: Roboto, sans-serif;
    font-weight: 500;
    font-size: 30px;
    line-height: 1.17em;
    margin: 52px 0 0 0;
    color: #ffffff;
  }

  .triphouse__footer {
    display: flex;
    justify-content: center;
    margin: 32px 0 0;
  }

  .search__items {
    display: flex;
    flex-direction: column;
    margin: 31px 0 0 0;
    padding: 0 8px 8px;
    max-width: 100%;
    background-color: #f5bd41;
    box-sizing: border-box;
    border-radius: 0;
  }

  .search__item1 {
    position: relative;
    flex-direction: row;
    box-sizing: border-box;
    margin-top: 8px;
    width: 100%;
  }

  .search__input {
    height: 48px;
    padding-left: 4px;
  }

  .search__input1 {
    display: block;
    position: absolute;
    font-size: 15px;
    height: 48px;
    border: 3px solid transparent;
    border-radius: 8px;
    padding: 0;
  }

    .search__subtitle2 {
    display: block;
    font-family: Roboto, sans-serif;
    font-weight: 500;
    font-size: 15px;
    line-height: 1.17em;
    top: 6px;
    left: 8px;
    color: #383838;
  }

  .search__input2 {
    align-items: flex-end;
    border: 3px solid transparent;
    height: 48px;
    padding: 0 0 0 4px;
  }

  .search__input:focus {
    outline: none;
    border-color: #464642;
  }

  .search__item2 {
    display: flex;
    position: relative;
    flex-direction: column;
    box-sizing: border-box;
    margin-top: 8px;
    border-radius: 8px;
    width: 100%;
  }

  .search__item3 {
    display: flex;
    position: relative;
    justify-content: center;
    margin-top: 8px;
    width: 100%;
  }

  .search__item4 {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ffffff;
    background: #3077c6;
    margin-top: 8px;
    height: 48px;
    width: 100%;
    border-radius: 8px;
  }

  .search__button1 {
    font-family: Roboto, sans-serif;
    font-weight: 500;
    font-size: 19px;
    line-height: 1.17em;
    color: #ffffff;
    background: #3077c6;
    border: none;
  }

  .offer {
    display: block;
    padding: 0;
    color: #ffffff;
  }

  .offer__title {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 28px;
    line-height: 1.17em;
    margin: 24px auto 0 auto;
    text-align: center;
    color: #383838;
  }

  .offer__underline {
    display: none;
  }

  .offer__wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 0 0 40px 0;
    margin: 0;
    text-align: center;
    font-size: 0;
  }

  .offer-rectangle {
    display: flex;
    flex-direction: column;
    font-size: 0;
    margin: 32px 0 0 0;
  }

  .offer__subtitle {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 15px;
    line-height: 1.17em;
    margin: 16px auto 0 auto;
    color: #383838;
  }

  .offer__image1 {
    margin: 0 auto;
    width: 70px;
    height: 70px;
    background: url("../pictures/offer/icons.svg") -638px 0;
  }

  .offer__image2 {
    margin: 0 auto;
    width: 70px;
    height: 70px;
    background: url("../pictures/offer/icons.svg") -0px 0;
  }

  .offer__image3 {
    margin: 0 auto;
    width: 70px;
    height: 70px;
    background: url("../pictures/offer/icons.svg") -708px 0;
  }

  .offer__image4 {
    margin: 0 auto;
    width: 70px;
    height: 70px;
    background: url("../pictures/offer/icons.svg") -370px 0;
  }

   /* Homes-guests */
  .homes-guests {
    padding: 40px 0;
  }

  .homes-guests__container {
    display: flex;
    justify-content: center;
    width: 155px;
  }

  .homes-container-none {
    display: none;
  }

  .homes-guests__heading {
    font-size: 28px;
  }

  .homes-guests__wrapper {
    padding: 32px 17px 0;
    margin: 0;
  }

  .homes-guests__rectangle {
    width: 155px;
    min-height: 155px;
    margin: 0 0;
  }

  .homes-guests__subtitle-link {
    display: flex;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.17em;
    color: #3077C6;
    margin-top: 8px;
    width: 155px;
  }

  .homes-guests__subtitle-caption {
    display: flex;
    flex-wrap: wrap;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.17em;
    color: #BFBFBF;
    margin-top: 8px;
    width: 155px;
  }

   .homes-guests__button-arrow2 {
    display: block;
    position: absolute;
    bottom: 54%;
    left: 86%;
    width: 36px;
    height: 36px;
    background: url("../pictures/homes-guests-loves/button-arrow-mobile.svg") 0 0;
  }

  /* destinations */
  .destinations__wrapper{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  .destinations__wrapper-rectangle{
    width: 156px;
  }

  .destinations__tab-button {
    width: 99px;
  }

  .destinations__container-image{
    width: 155px;
  }

  .destinations__image:hover .destinations__book{
    display: none;
  }

  .destinations__image:hover:after {
    display: none;
  }

  .destinations__image {
    height: 156px;
    width: 156px;
    margin: 24px auto 60px;
  }

  .destinations__button-arrow {
    display: block;
    position: absolute;
    left: 86%;
    top:42%;
  }

  .destinations__wrapper-rectangle:nth-last-child(-n+2) {
    display: none;
  }

  .destinations__image{
    margin: 0 0 8px;
  }
  .destinations__subtitle{
    font-size: 12px;
    margin-bottom: 40px;
  }

  .sign-up-mobile{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 0;
    flex-wrap: nowrap;
  }

   .sign-up-mobile__button{
     font-size: 14px;
     padding: 0;
     width: 41px;
   }

  .guests-reviews{
    position: relative;
  }
  .guests-reviews__heading{
    display: none;
  }

  .guests-reviews__heading-mobile{
    display: block;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 28px;
    line-height: 1.17em;
    text-align: center;
    color: #383838;
    margin: 120px auto 0;
    padding-bottom: 10px;
  }

  .guests-reviews{
    background: #EAF0F9;
    margin: 0;
    padding: 40px 18px 0;
  }


  .guests-reviews__container{
    width: 100%;
    position: relative;
  }

  .guests-reviews__review{
    padding: 0;
  }

  .guests-reviews__rating{
    padding: 3px 9px;
  }

  .guests-reviews__heading-mobile{
    margin: 0;
    padding: 0;
  }

  .guests-reviews__wrapper-rectangle{
    margin: 32px 0;
  }

  .guests-reviews__subtitle-country{
    padding: 8px 0 0;
  }

  .guests-reviews__info{
    padding: 0;
  }

  .guests-reviews__info:after{
    display: none;
  }

  /* footer-2-mobile phones*/
  .footer {
    display: block;
    padding: 40px 0;
    background: #10367c;
  }

  .footer__logo {
    margin: 0 auto;
    width: 98px;
    height: 19px;
    background: url("../pictures/offer/icons.svg") -440px 0;
  }

  .footer__rectangle {
    padding: 40px 0 0 0;
    text-align: center;
  }

  .item__footer-text {
    display: none;
  }

  .footer__subtitle {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 15px;
    line-height: 1.17em;
    text-decoration: underline;
    margin: 0;
    color: #ffffff;
  }

  .footer-text {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.17em;
    text-align: center;
    margin: 32px 0 0 0;
    color: #ffffff;
  }
}


