.container {
  display: inline-block;
  width: 1440px;
  min-height: 569px;
  color: #ffffff;
}

.text {
  margin: 120px 567px 0 567px;
  width: 306px;
  color: #383838;
  font-size: 40px;
}

.h {
  margin: 20px auto 0;
  width: 100px;
  height: 4px;
  background: #f5bd41;
}

.wrapper {
  margin-top: 80px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 0;
  width: 1264px;
  background: darkkhaki;
  list-style: none;
}

.rectangle {
  display: inline-block;
  width: 296px;
  background: brown;
    }

.image {
  width: 100px;
  height: 100px;
  margin-left: 98px;
  background: blueviolet;
}

.subtitle {
  display: block;
  margin: 48px auto 0 auto;
  text-align: center;
  font-size: 24px;
  line-height: 28px;
  color: #383838;
}

